@font-face {
    font-family: 'Overpass';
    src: url('assets/fonts/Overpass/Overpass-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;

    min-height: 100vh;
    min-width: 100vh;
}

.background {
    height: inherit;
    width: inherit;

    min-height: inherit;
    min-width: inherit;

    background-color: hsl(216, 12%, 8%);
    display: flex;
}

.card {
    background-image: radial-gradient(circle at top, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    box-shadow: 1px 1px 1px hsla(213, 20%, 18%, 0.322);

    margin: auto;

    width: 500px;
    height: 500px;

    border-radius: 20px;
}

.card-content-wrapper {
    margin: 35px;
    width: calc(100% - (70px));
    height: calc(100% - 70px);
}

.star-wrapper {
    width: 100%;
}

.star-icon {
    display: flex;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
}

.star-icon img {
    margin: auto;
    width: 18px;
    height: 18px;
}

.rating-question {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: hsl(0, 0%, 100%);
}

.rating-description {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: hsl(216, 12%, 54%);
    padding: 0 40px 0px 0px;
}

.rating-wrapper {
    display: flex;
    flex-direction: row;

    padding: 5px 30px;
    margin: 30px 0;

    height: 60px;

    justify-content: center;
    align-items: center;
}

.rating-value-wrapper {
    display: flex;
    flex: 1 1 0px;
    height: 100%;

    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;

    margin: 5px;
}

.rating-value-wrapper:hover {
    background-color: hsl(216, 12%, 54%);
}

.rating-value {
    margin: auto;
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.submit-btn {
    display: flex;

    margin: 0 30px;
    
    width: calc(100% - 60px);
    height: 50px;

    border-radius: 25px;

    justify-content: center;
    align-items: center;
}

.rating-btn {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);

    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;

    text-transform: uppercase;
}